#Backend

# compiled output
/review-course/dist
/review-course/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/review-course/coverage
/review-course/.nyc_output

# IDEs and editors
/review-course/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#Frondend
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cr-frondend/node_modules
/cr-frondend/.pnp
.pnp.js

# testing
/cr-frondend/coverage

# production
/cr-frondend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
